[submodule "programms/dmenu"]
	path = programms/dmenu
	url = git://git.suckless.org/dmenu
[submodule "programms/st"]
	path = programms/st
	url = git://git.suckless.org/st
[submodule "programms/dwm"]
	path = programms/dwm
	url = git://git.suckless.org/dwm
